<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand aLink" href="/" xdiv="#main">Box Manager</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a class="aLink" href="/" xdiv="#main">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-tasks"></span>
                        Boxes
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="aLink" href="/boxes" xdiv="#main_content">list</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-user"></span>
                        {{ name }}
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a class="aLink" href="/auth/logout" xdiv="#main">Logout</a></li>
                    </ul>
                </li>
            </ul>git
        </div><!--/.nav-collapse -->
    </div>
</nav>

<script>
    jQuery(".dropdown-toggle").dropdown();
</script>