<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ app.title }} @ {{ app.version }}</title>

        <!-- Bootstrap -->
        <link href="/css/main.min.css" rel="stylesheet">
        <link href="/css/theme.min.css" rel="stylesheet">
        <script src="/js/load.min.js"></script>
        <script src="/js/main.min.js"></script>

        <!--[if lt IE 9]>
        <script src="/js/ie_libs.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div id="main">
            <script>
                aPage('/main', '#main');
            </script>
        </div>
        <footer class="footer">
            <div class="container">
                <p class="text-muted">Place sticky footer content here.</p>
            </div>
        </footer>
        <script src="/js/libs.min.js"></script>
    </body>
</html>