<div class="container">
    <form id="loginForm" class="form-signin" role="form"  data-toggle="validator">
        {% if error is defined %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endif %}
        {% if alert is defined %}
            <div class="alert alert-warning" role="alert">{{ alert }}</div>
        {% endif %}        {% if message is defined %}
            <div class="alert alert-success" role="alert">{{ message }}</div>
        {% endif %}

        <h2 class="form-signin-heading">{{ 'have_an_account'|trans }}</h2>

        <div class="form-group has-feedback">
            <label for="inputEmail" class="control-label">Email</label>
            <div class="input-group">
                <span class="input-group-addon">@</span>
                <input
                        id="inputEmail"
                        name="inputEmail"
                        class="form-control"
                        data-error="{{ 'please_match_the_requested_format'|trans }}"
                        pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                        placeholder="{{ 'your_email'|trans }}"
                        type="text"
                        {% if inputEmail is defined %}value="{{ inputEmail }}"{% endif %}
                        required
                />
            </div>
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        </div>
        <div class="form-group has-feedback">

            <label for="inputPassword" class="control-label">Password</label>
            <input
                    id="inputPassword"
                    name="inputPassword"
                    class="form-control"
                    data-minlength="6"
                    placeholder="Password"
                    type="password"
                    required
            />
        </div>

        <div class="form-group has-feedback">
            <button id="loginButton" class="btn btn-lg btn-primary btn-block" type="submit">{{ 'login'|trans }}</button>
        </div>
    </form>

</div>
<script>
    var $loginForm   = jQuery('#loginForm'),
        $loginButton = jQuery('#loginButton');

    $loginForm.validator();
    $loginForm.on('submit', function (e) {
        e.preventDefault();
        if($loginButton.hasClass('disabled')){
            // form not valid
        } else {
            aPage('/auth', '#main', false, '#loginForm');
            $loginForm.validator('destroy');
        }
    });
</script>