<div id="main_menu">
    <script>
        aPage('/menu', '#main_menu');
    </script>
</div>


<div id="main_content" class="container">
    <div>
        <h1>{{ 'hello_world'|trans }}</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg aLink" href="/menu" xdiv="#main_menu"  role="button">reload menu</a></p>
    </div>
</div>



