<div class="container">
    <form id="registerForm" class="form-signin" role="form"  data-toggle="validator">
        {% if error is defined %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endif %}
        <h2 class="form-signin-heading">{{ 'register_default_user'|trans }}</h2>

        <div class="form-group">
            <label for="inputName" class="control-label">{{ 'name'|trans }}</label>
            <input
                id="inputName"
                data-error="{{ 'please_fill_out_this_field'|trans }}"
                class="form-control"
                name="inputName"
                placeholder="{{ 'your_name'|trans }}"
                type="text"
                {% if inputName is defined %}value="{{ inputName }}"{% endif %}
                required
                autofocus
            />
        </div>

        <div class="form-group has-feedback">
            <label for="inputEmail" class="control-label">Email</label>
            <div class="input-group">
                <span class="input-group-addon">@</span>
                <input
                    id="inputEmail"
                    name="inputEmail"
                    class="form-control"
                    data-error="{{ 'please_match_the_requested_format'|trans }}"
                    pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                    placeholder="{{ 'your_email'|trans }}"
                    type="text"
                    {% if inputEmail is defined %}value="{{ inputEmail }}"{% endif %}
                    required
                />
            </div>
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            <div class="help-block with-errors">{{ 'this_is_really_important_if_you_want_receive_emails'|trans }}</div>
        </div>

        <div class="form-group">
            <label for="inputPassword" class="control-label">Password</label>
            <input
                id="inputPassword"
                name="inputPassword"
                class="form-control"
                data-error="{{ 'please_fill_out_this_field'|trans }}"
                data-minlength="6"
                placeholder="Password"
                type="password"
                required
            />
            <div class="help-block">{{ 'minumum_x_chars'|trans({'%chars%': '6'})  }}</div>
            <input
                id="inputPasswordConfirm"
                name="inputPasswordConfirm"
                class="form-control"
                data-match="#inputPassword"
                data-match-error="{{ 'whops_these_dont_match'|trans }}"
                data-required-error="{{ 'please_fill_out_this_field'|trans }}"
                placeholder="{{ 'confirm'|trans }}"
                type="password"
                required
            />
            <div class="help-block with-errors"></div>
        </div>
        {#<div class="form-group">#}
            {#<label for="mobileNumber" class="control-label">Mobile Number</label>#}
            {#<input#}
                {#id="mobileNumber"#}
                {#name="mobileNumber"#}
                {#class="form-control"#}
                {#pattern="^\+\d{1,3}\ \d{2,4}\ \d{6,8}$"#}
                {#placeholder="Mobile Number"#}
                {#type="text"#}
                {#required#}
            {#/>#}
            {#<div class="help-block">es: +44 1234 56789</div>#}
        {#</div>#}



        <button id="registerButton" class="btn btn-lg btn-primary btn-block" type="submit">{{ 'register'|trans }}</button>
    </form>

</div>

<script>
var $registerForm   = jQuery('#registerForm'),
    $registerButton = jQuery('#registerButton');

$registerForm.validator();
$registerForm.on('submit', function (e) {
    e.preventDefault();
    if($registerButton.hasClass('disabled')){
        // form not valid
    } else {
        aPage('/auth/register', '#main', false, '#registerForm');
    }
});
</script>