<div>
    <h1 class="page-header">{{ 'obj_index'|trans({'%obj%': 'Box'}) }}</h1>
</div>

<div id="boxTable">
    <div class="table-responsive">
        <button
                class="btn btn btn-success aLink pull-right"
                href="/boxes/view/new"
                type="button"
                xdiv="#main_content"
        >
            <span class="glyphicon glyphicon-plus"></span>
            {{ 'add'|trans }}
        </button>

        <table class="table table-striped">
            <thead>
            <tr>
            {% for label in labels %}
                <th>{{ label.label|trans }}</th>
            {% endfor %}
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for box in boxes %}
                <tr>
                {% for key, label in labels %}
                    <td>
                        {% if attribute(box, key) is defined %}
                            {{ attribute(box, key) }}
                        {% else %}
                            ---
                        {% endif %}
                    </td>
                {% endfor %}
                    <td>
                        <button
                            class="btn btn-sm btn-primary aLink"
                            href="/boxes/view/{{ box.id|e }}"
                            type="button"
                            xdiv="#main_content"
                        >{{ 'edit'|trans }}</button>
                        <button
                            class="btn btn-sm btn-danger aLink"
                            href="/boxes/delete/{{ box.id|e }}"
                            type="button"
                            xdiv="#main_content"
                            confirm_message="Are you sure you want delete this record?"
                        >{{ 'delete'|trans }}</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
