<div>
    <h1 class="page-header">
    {% if box.name is defined %}
        {{ 'edit'|trans }} {{ box.name }}
    {% else %}
        {{ 'register_new_%obj%'|trans({'%obj%':'box'}) }}
    {% endif %}
    </h1>
</div>

<form id="editBoxForm" class="form-signin" role="form"  data-toggle="validator">
    {% if error is defined %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
    {% endif %}
    {% if alert is defined %}
        <div class="alert alert-warning" role="alert">{{ alert }}</div>
    {% endif %}        {% if message is defined %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endif %}

    <div class="form-group">
        <label for="inputId" class="control-label">ID</label>
        <input
                id="inputId"
                name="inputId"
                class="form-control"
                type="text"
                required
                value="{{ box.id }}"
                disabled
        />
    </div>
    <div class="form-group">
        <label for="inputName" class="control-label">{{ 'name'|trans }}</label>
        <input
                id="inputName"
                name="inputName"
                class="form-control"
                placeholder="{{ 'server_name'|trans }}"
                type="text"
                value="{% if box.name is defined %}{{ box.name }}{% else %}{% endif %}"
                required
        />
    </div>
    <div class="form-group">
        <label for="inputAddress" class="control-label">{{ 'URL Address'|trans }}</label>
        <input
                id="inputAddress"
                name="inputAddress"
                class="form-control"
                placeholder="http://boxstatus.address"
                type="url"
                value="{% if box.address is defined %}{{ box.address }}{% else %}{% endif %}"
                required
        />
        <p>{{ 'put_here_full_server_address'|trans({'%boxStatusGitProject%':boxStatusAtGit})|raw }}</p>
    </div>
    <div class="form-group">
        <label for="inputSalt" class="control-label">SaltKey</label>
        <input
                id="inputSalt"
                name="inputSalt"
                class="form-control"
                placeholder="SaltKey"
                type="text"
                value="{% if box.saltkey is defined %}{{ box.saltkey }}{% else %}{% endif %}"
        />
        <p>{{ 'the_same_you_set_on_box_status'|trans({'%boxStatusGitProject%':boxStatusAtGit})|raw }}</p>
    </div>
    <div class="form-group">
        <label for="inputSSL" class="control-label">Check SSL</label>
        <select
            id="inputSSL"
            name="inputSSL"
            class="form-control"
        >
            <option value="Y">Yes</option>
            <option value="N" selected>No</option>
        </select>
        <p>{{ 'the_same_you_set_on_box_status'|trans({'%boxStatusGitProject%':boxStatusAtGit})|raw }}</a></p>
    </div>


    <div class="span2">
        <p>
            <button
                id="saveBoxButton"
                class="btn btn-lg btn-success btn-block"
                type="submit"
            >
                <span class="glyphicon glyphicon-floppy-disk"></span>
                {{ 'save'|trans }}
            </button>
        </p>
        {% if box.name is defined %}
        <p>
            <button
                    class="btn btn-danger btn-block aLink"
                    href="/boxes/delete/{{ box.id|e }}"
                    type="button"
                    xdiv="#main_content"
                    confirm_message="Are you sure you want delete this record?"
            >
                <span class="glyphicon glyphicon-ban-circle"></span>
                {{ 'delete'|trans }}
            </button>
        </p>
        {% endif %}

        <p>
            <button
                    class="btn btn-primary btn-block aLink"
                    href="/boxes"
                    type="button"
                    xdiv="#main_content"
            >
                <span class="glyphicon glyphicon-list"></span>
                {{ 'list'|trans }}
            </button>
        </p>
    </div>


</form>

<script>
    var $editBoxForm   = jQuery('#editBoxForm'),
        $saveBoxButton = jQuery('#saveBoxButton');

    $editBoxForm.validator();
    $editBoxForm.on('submit', function (e) {
        e.preventDefault();
        if($saveBoxButton.hasClass('disabled')){
            // form not valid
        } else {
            aPage('/boxes/save/{{ box.id }}', '#main_content', false, '#editBoxForm');
        }
    });
</script>

